.contact-section{
  padding:80px 8%;
}

.contact-container{
  max-width:1400px;
  margin:auto;

  padding:60px;

  border-radius:40px;

  background:rgba(130, 227, 240, 0.304);

  backdrop-filter:blur(35px);
  -webkit-backdrop-filter:blur(35px);

  border:1px solid rgba(255,255,255,.45);

  position:relative;
  overflow:hidden;

  box-shadow:
    0 25px 70px rgba(108,99,255,.12);
}

/* Glow */

.contact-container::before{
  content:"";

  position:absolute;

  width:350px;
  height:350px;

  background:#6c63ff;

  opacity:.12;

  filter:blur(120px);

  top:-100px;
  right:-100px;
}

/* Header */

.contact-tag{
  display:inline-block;

  padding:12px 24px;

  border-radius:30px;

  background:rgba(255,255,255,.4);

  backdrop-filter:blur(20px);

  font-weight:600;

  margin-bottom:25px;
}

.contact-container h2{
  font-size:3.5rem;

  margin-bottom:20px;

  background:linear-gradient(
    90deg,
    #6c63ff,
    #4fd1ff
  );

  -webkit-background-clip:text;
  -webkit-text-fill-color:transparent;
}

.contact-desc{
  max-width:800px;

  color:#555;

  line-height:1.8;

  margin-bottom:50px;
}

/* Contact Cards */

.contact-grid{
  display:grid;

  grid-template-columns:repeat(4,1fr);

  gap:20px;

  margin-bottom:40px;
}

.contact-card{
  position:relative;

  padding:30px;

  border-radius:28px;

  background:rgba(130, 227, 240, 0.304);

  backdrop-filter:blur(35px);

  border:1px solid rgba(255,255,255,.8);

  overflow:hidden;

  transition:.4s ease;

  box-shadow:
    0 15px 35px rgba(108,99,255,.12);
}

.contact-card::before{
  content:"";

  position:absolute;

  width:180px;
  height:180px;

  background:linear-gradient(
    135deg,
    rgba(108,99,255,.35),
    rgba(79,209,255,.25)
  );

  filter:blur(70px);

  top:-60px;
  right:-60px;
}

.contact-card:hover{
  transform:
    translateY(-12px)
    scale(1.04);

  box-shadow:
    0 30px 60px rgba(108,99,255,.22);
}

.contact-card > *{
  position:relative;
  z-index:2;
}

.contact-card span{
  font-size:2rem;
}

.contact-card h3{
  margin:15px 0 10px;
  color:#6c63ff;
}

.contact-card p{
  color:#555;
  word-break:break-word;
}

/* Button */

.contact-btn{
  padding:16px 40px;

  border:none;

  border-radius:30px;

  background:linear-gradient(
    135deg,
    #6c63ff,
    #4fd1ff
  );

  color:white;

  font-size:1rem;
  font-weight:600;

  cursor:pointer;

  transition:.3s;
}

.contact-btn:hover{
  transform:translateY(-5px);

  box-shadow:
    0 15px 35px rgba(108,99,255,.25);
}

/* Mobile */

@media(max-width:1024px){

  .contact-grid{
    grid-template-columns:repeat(2,1fr);
  }
}

@media(max-width:768px){

  .contact-grid{
    grid-template-columns:1fr;
  }

  .contact-container{
    padding:35px;
  }

  .contact-container h2{
    font-size:2.5rem;
  }
}