.navbar{
  position:fixed;
  top:20px;
  left:50%;
  transform:translateX(-50%);
  width:90%;
  max-width:1200px;
  padding:18px 40px;

  display:flex;
  justify-content:space-between;
  align-items:center;

  background:rgba(255,255,255,0.25);
  backdrop-filter:blur(20px);
  border:1px solid rgba(255,255,255,0.3);
  border-radius:20px;

  z-index:1000;
}

.logo{
  font-size:24px;
  font-weight:700;
}

.nav-links{
  display:flex;
  gap:30px;
  list-style:none;
}

.nav-links a{
  text-decoration:none;
  color:#222;
  font-weight:600;
  transition:.3s;
}

.nav-links a:hover{
  color:#6c63ff;
}